.attach-file {
  @media (max-width: $mediaLarge) {
    min-width: em(300, $fz);

    // стили элемента
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: $mediaLarge) {
    min-width: em(200, $fz);
  }

  &__button {
    $fz: 15;
    font-size: em($fz, $fz_base);
    line-height: em(18, $fz);
    display: grid;
    grid-template-columns: max-content auto;
    font-family: "Lato", sans-serif;
    min-height: em(48, $fz);
    font-weight: 600;
    color: $dark-grey;
    text-transform: uppercase;
    background-color: $white;
    padding: em(12 10 12, $fz);
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid #3E9CDC;
    border-radius: 3px;

    @media (max-width: $mediaLarge) {
      $fz: 14;
      font-size: em($fz, $fz_base);
      line-height: em(16, $fz);
      min-height: em(45, $fz);
    }

    @media (max-width: $mediaMedium) {
      min-height: em(40, $fz);
      padding: em(8 6 8, $fz);
      $fz: 13;
      font-size: em($fz, $fz_base);
      line-height: em(18, $fz);
    }

    &:hover {
      background-color: $dark-grey;
      color: $white;
    }

    &:focus {
      background-color: rgba(61, 64, 80, 0.85);
      color: $white;
    }

    // класс? почему тег?
    &:hover svg {
      fill: currentColor;
    }
  }

  &__icon {
    fill: $dark-grey;
    margin-right: 10px;
  }

  &__input {
    // у тебя же есть visually-hidden, зачем дублировать? можно заинклудить тут, лиюо дать класс в разметке
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
}
