.attach-file {
  &__button {
    min-height: em(48, $fz);

    cursor: pointer;

    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: max-content auto;
    column-gap: em(10, $fz);
    padding: em(5, $fz);
    border: em(2, $fz) solid $accent;
    border-radius: $border_radius;
    background-color: $white;
    color: $dark_gray;

    @media (max-width: $media_large) {
      min-height: em(45, $fz);
    }
    @media (max-width: $media_medium) {
      min-height: em(40, $fz);

      padding: em(8 6, $fz);
    }

    &:hover {
      background-color: $dark_gray;
      color: $white;

      &__icon {
        fill: currentColor;
      }
    }
  }

  &__input:focus + &__button {
    background-color: rgba(61, 64, 80, 0.85);
    color: $white;
  }

  &__caption {
    $fz: 15;
    color: inherit;
    text-align: center;
    text-transform: uppercase;
    font-family: $font_family;
    font-size: em($fz, $fz_base);
    font-weight: 600;
    line-height: em(18, $fz);

    @media (max-width: $media_large) {
      $fz: 14;
      font-size: em($fz, $fz_base);
      line-height: em(16, $fz);
    }
  }

  &__icon {
    width: em(17, $fz);
    height: em(20, $fz);
    fill: currentColor;
  }
}
