.btn {
  $self: &;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: em(4, $fz);

  &__caption {
    $fz: 13;
    text-align: center;
    text-transform: uppercase;
    font-size: em($fz, $fz_base);
    line-height: em(16, $fz);

    #{$self}--size-l & {
      $fz: 15;
      font-size: em($fz, $fz_base);
      font-weight: 600;
      line-height: em(18, $fz);
    }
  }

  &--theme-accent {
    border: em(1, $fz) solid $white;
    background-color: $accent;
    color: $white;

    &:hover,
    &:focus {
      border-color: currentColor;
      background-color: $white;
      color: $accent;
    }
  }

  &--theme-default {
    border: em(1, $fz) solid $border_details;
    background-color: $white;
    color: $color_details;

    &:hover,
    &:focus {
      border-color: currentColor;
      background-color: $dark_gray;
      color: $white;
    }
  }

  &--size-m {
    min-width: em(183, $fz);
    min-height: em(43, $fz);

    padding: em(10, $fz);

    @media (max-width: $media_medium) {
      min-width: em(150, $fz);
    }
    @media (max-width: $media_large) {
      min-height: em(38, $fz);
    }
  }

  &--size-l {
    min-width: em(370, $fz);
    min-height: em(48, $fz);

    padding: em(13, $fz);


    @media (max-width: $media_large) {
      min-height: em(40, $fz);
    }
    @media (max-width: $media_medium) {
      padding: em(10, $fz);
    }
    @media (max-width: $media_small) {
      min-width: em(200, $fz);
    }
  }
}
