.contacts {
  $self: &;

  &__link {
    &:hover {
      color: $accent;

      #{$self}__icon {
        fill: $white;
      }
    }
  }

  &__link-caption {
    $fz: 13;
    font-size: em($fz, $fz_base);
    line-height: em(16, $fz);
    word-break: break-all;
  }

  &__icon {
    &--mail {
      width: em(15, $fz);
      height: em(12, $fz);
    }

    &--vk {
      width: em(10, $fz);
      height: em(13, $fz);
    }
  }
}
