.contacts {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: em(311, $fz);

    &li:nth-of-type(2n) {
      justify-self: flex-end;
    }

    @media (max-width: $mediaLarge) {
      justify-self: center;
      padding: em(20 10, $fz);
    }

    @media (max-width: $mediaMedium) {
      width: em(400, $fz);
      padding: em(20 30, $fz);
      justify-content: center;
      & li:nth-child(n):not(:nth-last-child(1)) {
        margin-right: 20px;
      }
      & li:nth-child(n):not(:nth-child(2)):not(:nth-child(1)) {
        margin-top: 20px;
      }
    }
  }

  &__item {
    margin: 0;
    padding: 0;
    display: flex;
    align-content: flex-end;
    max-width: em(147, $fz);
    cursor: pointer;

    &:hover svg {
      fill: $white;
    }
  }

  &__link {
    $fz: 13;
    word-break: break-all;
    display: inline-block;
    color: $white;
    font-weight: 400;
    font-size: em($fz, $fz_base);
    line-height: em(16, $fz);
    align-self: flex-end;
    justify-self: flex-end;

    &:hover {
      color: $accent;
    }
  }

  &__icon {
    flex: none;
    fill: $accent;
    align-self: center;
    margin-right: em(13, $fz);
  }
}
