.container {
  max-width: em(1172, $fz);
  margin-right: auto;
  margin-left: auto;

  @media (max-width: $media_large) {
    max-width: em(839, $fz);
    padding-left: em(15, $fz);
    padding-right: em(15, $fz);
  }

  @media (max-width: $media_medium) {
    max-width: em(719, $fz);
  }
}
