.footer {
  background-color: $back_footer;
  color: $white;

  &__container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 26% 33% 26%;
    gap: em(82, $fz);

    padding-top: em(30, $fz);
    padding-bottom: em(30, $fz);

    @media (max-width: $media_large) {
      grid-template-columns: 1fr;
      gap: 0;

      padding-top: em(10, $fz);
      padding-bottom: em(10, $fz);
    }
  }

  &__item {
    position: relative;
    justify-self: center;
    width: 100%;

    &:nth-child(3n-2)::before,
    &:nth-child(3n)::before {
      position: absolute;
      top: 0;
      right: em(-45, $fz);
      width: em(1, $fz);
      height: em(18, $fz);

      content: '';

      display: block;
      background: $color_pay;

      @media (max-width: $media_large) {
        display: none;
      }
    }

    &:nth-child(3n)::before {
      left: em(-35, $fz);
    }
  }
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @media (max-width: $media_large) {
    padding: em(20 10, $fz);
  }
  @media (max-width: $media_medium) {
    padding: em(20 30, $fz);
  }
  @media (max-width: $media_small) {
    flex-direction: column;
  }
}

.footer-item {
  &:nth-child(n+2) {
    margin-left: em(35, $fz);

    @media (max-width: $media_small) {
      margin-left: 0;
    }
  }

  &:not(:last-child) {
    @media (max-width: $media_small) {
      margin-bottom: em(20, $fz);
    }
  }
}

.footer-label {
  $self: &;

  display: grid;
  grid-template-columns: max-content auto;
  column-gap: em(13, $fz);

  &:not(:last-child) {
    @media (max-width: $media_small) {
      margin-bottom: em(20, $fz);
    }
  }

  &:nth-child(n+2) {
    margin-left: em(35, $fz);

    @media (max-width: $media_small) {
      margin-left: 0;
    }
  }

  &__text {
    $fz: 13;
    align-self: end;
    font-size: em($fz, $fz_base);
    line-height: em(16, $fz);
    word-break: break-all;
  }

  &__icon {
    align-self: center;
    fill: $accent;

    &--qiwi {
      width: em(20, $fz);
      height: em(20, $fz);
    }

    &--yandex-money {
      width: em(18, $fz);
      height: em(18, $fz);
    }

    &--web-money {
      width: em(18, $fz);
      height: em(17, $fz);
    }

    &--mail {
      width: em(15, $fz);
      height: em(12, $fz);
    }

    &--vk {
      width: em(10, $fz);
      height: em(13, $fz);
    }
  }

  &--link {
    &:hover {
      color: $accent;

      #{$self}__icon {
        fill: $white;
      }
    }
  }
}
