.main-nav {
  $self: &;
  display: flex;
  // ?
  min-height: em(100, $fz);
  align-items: center;

  // ?
  @media (max-width: $media_medium) {
    min-height: em(80, $fz);
  }

  &__container {
    @media (max-width: $media_medium) {
      position: fixed;
      top: em(68, $fz);
      right: 0;
      bottom: 0;
      left: 0;
      visibility: hidden;
      padding-top: em(20, $fz);
      padding-bottom: em(20, $fz);
      overflow: auto;
      background-color: rgba($back_header, 0.9);
      color: $white;

      #{$self}--is-open & {
        z-index: 200;
        visibility: visible;
      }
    }
  }

  &__list {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: $media_medium) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: auto;
    }
  }

  &__item:nth-of-type(n + 2) {
    margin-left: em(40, $fz);

    @media (max-width: $media_large) {
      margin-left: em(10, $fz);
    }

    @media (max-width: $media_medium) {
      margin: 0;
    }
  }

  &__link {
    $fz: 13;
    font-size: em($fz, $fz_base);
    line-height: em(16, $fz);
    font-weight: 600;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding: em(40 10, $fz);

    &--is-active {
      color: $link_is_active;
    }

    &:hover,
    &:focus {
      color: $accent;
    }

    @media (max-width: $media_medium) {
      padding: em(20, $fz);
    }
  }

  &__toggle {
    display: none;

    @media (max-width: $media_medium) {
      display: flex;
    }
  }
}

.main-nav-toggle {
  position: relative;
  width: em(60, $fz);
  height: em(60, $fz);

  @media (max-width: $media_medium) {
    width: em(70, $fz);
  }

  &__bar {
    position: absolute;
    top: 50%;
    right: em(15, $fz);
    width: em(20, $fz);
    height: em(3, $fz);
    margin-top: em(-9, $fz);
    border-radius: em(1, $fz);
    background: currentColor;
    transition: all, 0.2s;
  }

  &__bar + &__bar {
    margin-top: em(-1, $fz);
  }

  &__bar + &__bar + &__bar {
    margin-top: em(7, $fz);
  }

  &--is-toggled &__bar {
    transform: rotate(45deg) translateX(em(7, $fz)) translateY(em(4, $fz));
  }

  &--is-toggled &__bar + &__bar {
    opacity: 0;
    transform: scale(0.1);
  }

  &--is-toggled &__bar + &__bar + &__bar {
    opacity: 1;
    transform: rotate(-45deg) translateX(em(7, $fz)) translateY(em(-4, $fz));
  }
}
