.order {
  padding-top: em(121, $fz);
  padding-bottom: em(151, $fz);
  background-color: $dark_gray;
  background-image: url('../../img/pattern-gray.png');
  color: $white;
  text-align: center;

  @media (max-width: $media_large) {
    padding-top: em(80, $fz);
    padding-bottom: em(80, $fz);
  }
  @media (max-width: $media_medium) {
    padding-top: em(50, $fz);
    padding-bottom: em(50, $fz);
  }

  &__title {
    $fz: 36;

    margin-bottom: em(30, $fz);
    text-transform: uppercase;
    font-size: em($fz, $fz_base);
    font-weight: 800;

    @media (max-width: $media_large) {
      $fz: 30;
      font-size: em($fz, $fz_base);
      line-height: em(40, $fz);
    }
    @media (max-width: $media_medium) {
      $fz: 26;
      font-size: em($fz, $fz_base);
      line-height: em(30, $fz);
    }
  }

  &__subtitle {
    $fz: 18;
    margin-bottom: em(72, $fz);
    color: $small_text;
    font-size: em($fz, $fz_base);
    line-height: em(22, $fz);

    @media (max-width: $media_large) {
      $fz: 16;
      margin-bottom: em(60, $fz);
      font-size: em($fz, $fz_base);
      line-height: em(32, $fz);
    }
    @media (max-width: $media_medium) {
      $fz: 14;
      margin-bottom: em(40, $fz);
      font-size: em($fz, $fz_base);
      line-height: em(26, $fz);
    }
  }

  &__scheme {
    margin-bottom: em(85, $fz);

    @media (max-width: $media_large) {
      margin-bottom: em(50, $fz);
    }
    @media (max-width: $media_medium) {
      margin-bottom: em(30, $fz);
    }
  }
}

.order-scheme {
  display: grid;
  align-items: flex-start;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, minmax(#{em(234, $fz)}, 1fr));
  row-gap: em(10, $fz);

  @media (max-width: $media_large) {
    grid-template-columns: repeat(auto-fill, minmax(#{em(230, $fz)}, 1fr));
  }

  &__icon {
    width: em(100, $fz);
    height: em(100, $fz);
    margin-top: em(8, $fz);
    margin-bottom: em(19, $fz);

    display: flex;
    align-items: center;
    justify-content: center;
    border: em(5, $fz) solid $border;
    border-radius: 50%;
    background-color: $accent;
    color: $white;

    @media (max-width: $media_large) {
      width: em(90, $fz);
      height: em(90, $fz);
    }
    @media (max-width: $media_medium) {
      width: em(80, $fz);
      height: em(80, $fz);
    }
  }

  &__item {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: $media_large) {
      &:nth-child(5n+1)::before {
        display: none;
      }
    }
    @media (max-width: $media_large) {
      &:nth-child(5n+1)::before {
        display: block;
      }

      &:nth-child(3n+1)::before {
        display: none;
      }
    }
    @media (max-width: $media_medium) {
      &:nth-child(3n+1)::before {
        display: block;
      }

      &:nth-child(2n-1)::before {
        display: none;
      }
    }
    @media (max-width: $media_small) {
      &:nth-child(3n+1)::before,
      &:nth-child(5n+1)::before {
        display: none;
      }
    }

    &::before {
      position: absolute;
      top: em(52, $fz);
      left: em(-53, $fz);
      width: em(110, $fz);
      height: em(6, $fz);

      content: '';
      background-image: url('../../img/point.svg');
      background-repeat: no-repeat;

      @media (max-width: $media_small) {
        display: none;
      }
    }
  }

  &__title {
    $fz: 16;
    max-width: em(188, $fz);
    text-align: center;
    font-size: em($fz, $fz_base);
    line-height: em(19, $fz);

    @media (max-width: $media_medium) {
      $fz: 14;
      font-size: em($fz, $fz_base);
      line-height: em(17, $fz);
    }
  }
}

.order-scheme-icon {
  fill: currentColor;

  &--search {
    width: em(33, $fz);
    height: em(33, $fz);
  }

  &--percent {
    width: em(31, $fz);
    height: em(31, $fz);
  }

  &--doc {
    width: em(38, $fz);
    height: em(42, $fz);
  }

  &--mail {
    width: em(36, $fz);
    height: em(29, $fz);
  }

  &--money {
    width: em(39, $fz);
    height: em(25, $fz);
  }
}
