.page-footer {
  background-color: $back-footer;
  color: $white;
  padding: em(29 0 30 0, $fz);

  @media (max-width: $mediaLarge) {
    padding: em(10 0 10 0, $fz);
  }

  &__list {
    list-style: none;
    padding: 0;
    align-items: center;
    justify-content: center;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: em(82, $fz);
    margin-left: auto;
    margin-right: auto;

    @media (max-width: $mediaLarge) {
      gap: 0;
      grid-template-columns: 1fr;
    }
  }

  &__item {
    padding: 0;
    margin: 0;
    justify-self: center;
    position: relative;
  }
}

.page-footer__item:nth-of-type(3n-2):before {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 18px;
  background: $color-pay;
  top: 0;
  right: em(-45, $fz);

  @media (max-width: $mediaLarge) {
    display: none;
  }
}

.page-footer__item:nth-of-type(3n):before {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 18px;
  background: $color-pay;
  top: 0;
  left: em(-35, $fz);

  @media (max-width: $mediaLarge) {
    display: none;
  }
}
