.page-footer{
  background-color: $back-footer;
  color: $basic-white;
  padding: 33px 0 30px 0;
}

.page-footer__container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 82px;
}


