.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mediaMedium) {
    min-height: 70px;
  }

  &__logo {
    display: flex;
    @media (max-width: $mediaLarge) {
      flex: none;
    }
  }
}
