.product-info {
  min-height: em(850, $fz);

  padding-top: em(203, $fz);
  padding-bottom: em(203, $fz);
  background: url('../../img/back-sec.jpg') center center / cover no-repeat $back_info;
  color: $black;

  @media (max-width: $media_large) {
    min-height: em(500, $fz);

    padding-top: em(180, $fz);
    padding-bottom: em(80, $fz);
  }
  @media (max-width: $media_medium) {
    min-height: em(300, $fz);

    padding-top: em(120, $fz);
    padding-bottom: em(50, $fz);
  }

  &__container {
    max-width: em(780, $fz);

    @media (max-width: $media_large) {
      max-width: em(555, $fz);
    }
    @media (max-width: $media_medium) {
      max-width: em(345, $fz);
    }
  }

  &__title {
    $fz: 48;
    margin-bottom: em(90, $fz);
    text-transform: uppercase;
    font-size: em($fz, $fz_base);
    font-weight: 700;
    line-height: em(58, $fz);

    @media (max-width: $media_large) {
      $fz: 30;
      margin-bottom: em(50, $fz);
      font-size: em($fz, $fz_base);
      line-height: em(40, $fz);
    }
    @media (max-width: $media_medium) {
      $fz: 22;
      margin-bottom: em(30, $fz);
      font-size: em($fz, $fz_base);
      line-height: em(30, $fz);
    }
  }

  &__list {
    margin-bottom: em(78, $fz);

    @media (max-width: $media_medium) {
      margin-bottom: em(30, $fz);
    }
  }

  &__subtitle {
    $fz: 20;
    margin-bottom: em(10, $fz);
    font-size: em($fz, $fz_base);
    font-weight: 700;
    line-height: em(24, $fz);

    @media (max-width: $media_large) {
      $fz: 18;
      font-size: em($fz, $fz_base);
      line-height: em(22, $fz);
    }
    @media (max-width: $media_medium) {
      margin-bottom: em(20, $fz);
    }
  }

  &__item {
    $fz: 20;
    margin-bottom: em(5, $fz);
    font-size: em($fz, $fz_base);
    line-height: em(24, $fz);

    @media (max-width: $media_medium) {
      margin-bottom: em(8, $fz);
    }
    @media (max-width: $media_medium) {
      $fz: 16;
      font-size: em($fz, $fz_base);
      line-height: em(20, $fz);
    }

    &::before {
      width: em(4, $fz);
      height: em(1, $fz);
      margin-right: em(5, $fz);
      margin-left: em(10, $fz);

      content: '';

      display: inline-block;
      vertical-align: middle;
      background: currentColor;
    }
  }

  &__buttons {
    // ?
    max-width: em(780, $fz);

    display: flex;
    flex-wrap: wrap;

    @media (max-width: $media_large) {
      max-width: em(555, $fz);
    }
    @media (max-width: $media_medium) {
      max-width: em(350, $fz);
    }
  }

  &__button {
    margin-right: em(30, $fz);
    margin-bottom: em(30, $fz);

    @media (max-width: $media_medium) {
      margin-right: em(15, $fz);
      margin-bottom: em(15, $fz);
    }
  }
}
