.range {
  display: flex;
  flex-direction: column;
  grid-column: span 2;

  &__text-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__text,
  &__percent {
    $fz: 18;
    font-size: em($fz, $fz_base);
    line-height: em(22, $fz);
    text-align: start;

    @media (max-width: $media_small) {
      $fz: 16;
      font-size: em($fz, $fz_base);
      line-height: em(20, $fz);
    }
  }

  &__text {
    @media (max-width: $media_small) {
    max-width: em(230, $fz);
    }
  }

  &__percent {
    font-weight: 600;
  }
}
