.s-select-simplebar {
  .simplebar-track.simplebar-vertical {
    $fz: 18;
    width: em(7, $fz);
    margin-top: em(2, $fz);
    margin-right: em(4, $fz);
    margin-bottom: em(3, $fz);

    border-radius: em(3, $fz);
    background: $back_footer;
  }

  .simplebar-scrollbar::before {
    right: 0;
    left: 0;

    border-radius: em(3, $fz);
    background: $accent;
  }

  .simplebar-scrollbar.simplebar-visible::before {
    opacity: 1;
  }

  .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
    top: 0;
    bottom: 0;
  }
}

