.select {
  $self: &;
  cursor: pointer;

  &::after {
    width: em(10, $fz);
    height: em(10, $fz);
    margin-top: em(5, $fz);
    margin-left: auto;

    content: '';

    display: inline-block;
    vertical-align: middle;
    border: em(2, $fz) solid transparent;
    border-radius: em(2, $fz);
    border-top-color: currentColor;
    border-left-color: currentColor;
    transform: translateY(-50%) translateX(-50%) rotate(225deg);
    transition: all 0.4s;
  }

  &:focus::after {
    margin-right: em(5, $fz);
    transform: rotate(45deg);
  }

  &__text {
    width: 100%;
    text-align: start;
  }

  &__options {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-height: 0;

    opacity: 0;

    border: em(1, $fz) solid $back_footer;
    border-radius: $border_radius;
    background: rgba(39, 39, 51, 0.9);
    transition: all 0.4s;

    &.active {
      max-height: em(180, $fz);

      opacity: 1;

      overflow-y: scroll;


      @media (max-width: $media_large) {
        max-height: em(150, $fz);
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__option {
    min-height: em(35, $fz);

    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: $white;


    @media (max-width: $media_large) {
      min-height: em(30, $fz);
    }

    &:hover,
    &:focus {
      color: $light_accent;
    }
  }

  &__radio {
    display: none;
  }

  &__label {
    width: 100%;

    cursor: pointer;

    padding: em(12 24 0 10, $fz);
    text-align: start;
  }
}
