$fz_base: 16;
$fz: $fz_base;


// Color
$black: #000000;
$accent: #3E9CDC;
$white: #FFFFFF;
$dark-grey: #272733;
$border: #286690;
$back-input: rgba(255, 255, 255, 0.85);
$range: rgba(66, 169, 237, 1);
$back-header: #10101D;
$back-footer: #3D4050;
$back-info:  rgba(242, 242, 242, 1);
$link-is-active: #43ABF0;
$color-details:#2A2B30;
$border-details:#6F6D7B;
$small-text:#BBBBBB;
$color-range:rgba(255, 255, 255, 0.7);
$control-range: #42A9ED;
$color-pay: #C3C3C3;


//Sizes
$mediaLargeContainer: 1172px;
$mediaLarge: 1230px;
$mediaMedium:768px;
$mediaSmall: 500px;


